{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": "off",
    "import/prefer-default-export": false,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/sort-comp": false
  },
    "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
  }
